<h1>New image for: <%=h user.login %></h1>

<%= error_messages_for :asset %>

<% form_for(:image, :url => user_images_path(user), :html => { :multipart => true }) do |f| %>

  <p>Select a file from your computer: <%= f.file_field :uploaded_data %></p>
  <p>
    <%= submit_tag "Create" %>
  </p>

<% end %>

<%= link_to 'Back', user_images_path(user) %>
